<form method="POST" action="/new">
   <h1>Create a New Form</h1>
   <label for="name">Name:</label>
   <input id="name" name="user" />
   <label for="msg">Message:</label>
   <input id="msg" size="50" name="text"/>
   <button type="submit">Submit</button>
</form>